@import "../templates/base";

.icons {
    display: flex;
    flex-wrap: wrap;

    .icon {
        width: 130px;
        height: 130px;
        margin-top: 30px;
        padding: 10px;
        text-align: center;

        a {
            font-size: 18px;
            color: $gray;
            transition: all .3s
        }

        img {
            width: 100%;
            height: 100%;
            transition: all .3s
        }

        a:hover {
            color: $accent;
        }

        img:hover {
            filter: grayscale(50%);
            filter: brightness(60%);
        }
    }
}