.container-title {
    padding-bottom: 10px;
}

.pamphlet {
    padding: 20px 0;
    &-img {
        width: 100%;
    }

    .please_tap {
        margin-top: 70px;
        padding-top: 10px;
        border-top: 1px solid $theme;
    }
}

.modal_window1-text {
    a {
        color: $gray;
        border-bottom: 1px solid $gray;
    }
    a:hover {
        color: black;
        border-color: black;
    }
}

.p-map-tab {
    overflow: hidden;
    height: 100%;
    width: 100%;

    &__radio-button {
        display: none;
    }
    &__radio-label {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        @media (min-width: 760px) {
            width: 20%   
        }
        text-align: center;
        font-size: 20px;
        background-color: #d7d7d7;
        color: #7c7c7c;
        box-sizing: border-box;
    }
    &__radio-button:checked + &__radio-label {
        color: $gray;
        background-color: $white;
    }
    // -w1, -w2 はwidthが 1:2 という意味
    // NOTICE: "max"-width
    @media (max-width: 760px) {
        &__radio-label.-w2 {
            width: 100%;
        }
        &__radio-label.-w1 {
            width: 50%;
        }
    }
    &__page {
        overflow: hidden;
        display: none;
        width: 100%;
        background-color: $white;
    }
    &__radio-button.-one:checked ~ &__page.-one, 
    &__radio-button.-two:checked ~ &__page.-two, 
    &__radio-button.-three:checked ~ &__page.-three,
    &__radio-button.-four:checked ~ &__page.-four,
    &__radio-button.-five:checked ~ &__page.-five {
        display: inline-block;
    }
    &__page-box {
        display: flex;
        align-items: center;
        margin: 16px 0;
        width: 100%;
    }
    &__page-lists {
        display: flex;
        flex-basis: 84%;
    }
    // ここをout-sideように拡張するのが辛い
    // これが保守性が低いということだろう
    &__page-list {
        display: flex;
        flex-direction: column;
        // @media (min-width: 760px) {
        //     flex-direction: row;
        // }
        list-style: none;
        box-sizing: border-box;
        flex-basis: 84%;
    }
    // &__page-list.-width-normal {
    //     flex-basis: 84%;
    // }
    &__page-list.-width-half {
        flex-basis: 50%;
    }
    &__page-list.-border {
        border-left: solid 2px $gray;
        border-right: solid 2px $gray;
    }
    &__page-list.-border-left {
        border-left: solid 2px $gray;
    }
    &__page-item {
        // display: table;
        margin: 0 4px;
        height: 60px;
        line-height: 60px;
        // width:
    }
    &__page-item:nth-child(n+2) {
        margin-top: 2px;
    }
    &__page-item.-margin-left {
        // margin: 0 0 0 16px;
        margin-left: 8px;
        margin-right: 0px;
    }
    &__page-item.-border {
        margin-left: 0px;
        margin-right: 0px;
        border-top: solid 2px $gray;
        border-bottom: solid 2px $gray;
    }
    &__page-item.-large {
        line-height: 122px;
        height: 122px;
    }
    &__page-item-heading-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        // vertical-align: bottom;
    }
    &__page-item-heading-box.-height-all {
        height: 100%;
    }
    &__page-item-heading {
        line-height: 1;
    }
    &__page-item-subtext {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        height: 40%;
        line-height: 1;
        width: 90%;
        font-size: 8px;
    }
    &__page-link, &__page-text {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        font-size: 14px;
    }
    &__page-link {
        // font-size: 14px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 100%;
        text-decoration: none;
        color: $white;
        background-color: $gray;
        transition: background-color 0.2s;
        line-height: 0px;
    }
    // &__page-link.-margin-left {
    //     margin: 0 0 0 16px;
    // }
    // &__page-link.-large {
        
    // }
    &__page-link.-background-light-gray {
        background: #8c8c8c;
    }
    &__page-link:hover {
        background-color: $accent;
    }
    &__page-text {
        // height: 100%;
        // width: 100%;
        // line-height: 0px;
        // font-size: 16px;
    }
    // &__page-text.-border {
    //     // margin: 0px;
    //     border-top: solid 2px $gray;
    //     border-bottom: solid 2px $gray;
    // }
    // &__page-text.-large {
    //     height: 106px;
    //     line-height: 106px;
    // }
    &__page-map-text-box {
    }
    &__page-map-text {
        text-align: center;
        flex-basis: 16%;
        font-size: 20px;
    }
}