@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 100;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 25px;
  background-color: #fafafa;
  color: #333333; }
  body p {
    padding: 10px 0; }
  body a {
    text-decoration: none;
    color: #fafafa; }
  body h4 {
    font-size: 25px; }
  body h5 {
    font-size: 20px; }

.container {
  margin: 30px auto 40px auto;
  padding: 30px 20px;
  overflow: hidden; }
  .container-title {
    padding-bottom: 40px;
    color: #e20700; }
    .container-title h3 {
      font-family: "Anton", sans-serif;
      font-size: 50px;
      padding-bottom: 10px; }

@media (min-width: 376px) {
  .container {
    width: 335px; } }

@media (min-width: 480px) {
  .container {
    width: 420px; } }

@media (min-width: 600px) {
  .container {
    width: 520px; } }

@media (min-width: 760px) {
  .container {
    width: 700px; } }

@media (min-width: 1000px) {
  .container {
    width: 900px;
    margin: 50px auto 60px auto;
    padding: 50px 20px; }
    .container-title h3 {
      font-size: 70px;
      padding-bottom: 20px; }
    .container-title span {
      font-size: 20px; } }

.button {
  display: inline-block;
  height: 35px;
  font-size: 15px;
  background-color: #333333;
  color: #fafafa;
  text-align: center;
  text-decoration: none;
  list-style: none;
  transition: background-color 0.2s; }
  .button a {
    width: 100%;
    display: inline-block;
    padding-top: 5px;
    height: 30px; }
  @media (min-width: 1000px) {
    .button {
      height: 45px;
      font-size: 20px; }
      .button a {
        height: 35px;
        padding-top: 10px; } }

.button:hover {
  background-color: #009db4; }

.flex {
  display: -ms-flex;
  display: flex; }

header {
  height: 90px;
  padding: 0 20px;
  background-image: url("../imgs/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafafa; }
  header h1 {
    font-family: "Anton", sans-serif;
    font-size: 38px;
    padding-top: 20px; }
    @media (max-width: 360px) {
      header h1 {
        font-size: 33px; } }
  header h2 {
    font-size: 25px;
    padding-top: 10px; }

@keyframes menu_char_fadein {
  0% {
    display: none;
    transform: translateY(20px); }
  100% {
    display: block;
    transform: translateY(0px); } }

@keyframes menu_fadein {
  0% {
    opacity: 0;
    display: block; }
  100% {
    opacity: 1; } }

@keyframes menu_slidein {
  0% {
    transform: translateX(100%); }
  100% {
    transform: none; } }

@keyframes menu_slideout {
  0% {
    transform: none; }
  100% {
    transform: translateX(100%); } }

@keyframes title_in {
  0% {
    transform: translateX(1000px);
    font-size: 500px; }
  100% {
    transform: translateX(0);
    color: #fafafa;
    font-size: 50px; } }

@keyframes title_in_tablet {
  0% {
    transform: translateX(1000px);
    font-size: 500px; }
  100% {
    transform: translateX(0);
    color: #fafafa;
    font-size: 90px; } }

@keyframes title_in_desktop {
  0% {
    transform: translateX(-1000px);
    font-size: 500px; }
  100% {
    transform: translateX(0);
    color: #fafafa;
    font-size: 120px; } }

.nav .menu_icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
  width: 50px;
  height: 50px; }
  .nav .menu_icon span {
    position: fixed;
    display: block;
    width: 34px;
    height: 2px;
    right: 30px;
    border-radius: 1px;
    background-color: #e20700; }

.nav .is_open .top {
  transform: rotate(45deg);
  top: 45px;
  width: 45px;
  right: 25px;
  transition: all 0.2s; }

.nav .is_open .middle {
  background-color: rgba(226, 7, 0, 0);
  top: 45px;
  right: 25px;
  transition: all 0.2s; }

.nav .is_open .bottom {
  transform: rotate(-45deg);
  top: 45px;
  right: 25px;
  width: 45px;
  transition: all 0.2s; }

.nav .is_close .top {
  transform: rotate(0deg);
  top: 30px;
  right: 30px;
  width: 34px;
  transition: all 0.2s; }

.nav .is_close .middle {
  background-color: #e20700;
  top: 45px;
  right: 30px;
  transition: all 0.2s; }

.nav .is_close .bottom {
  transform: rotate(0deg);
  top: 60px;
  right: 30px;
  width: 34px;
  transition: all 0.2s; }

.nav .menu {
  position: fixed;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-image: url("../imgs/footer_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fafafa; }
  .nav .menu-container {
    padding-top: 50px;
    margin-top: 0; }
    @media (max-height: 600px) {
      .nav .menu-container-title {
        padding-bottom: 20px !important; } }
  .nav .menu h4 {
    font-size: 25px;
    padding-bottom: 20px; }
    @media (max-width: 340px) {
      .nav .menu h4 {
        padding-bottom: 10px; } }
  .nav .menu ul li {
    display: inline-block;
    border: 1px solid #fafafa; }
    .nav .menu ul li a {
      display: inline-block;
      width: 100%; }
  .nav .menu-menu_buttons {
    padding-bottom: 30px;
    font-size: 0; }
    .nav .menu-menu_buttons li {
      height: 70px;
      text-align: center;
      transition: background-color 0.2s; }
      .nav .menu-menu_buttons li a {
        height: 50px;
        padding-top: 22px;
        font-size: 20px; }
    .nav .menu-menu_buttons li:hover {
      background-color: #009db4; }
  .nav .menu .two_buttons li {
    width: 48%; }
  .nav .menu .three_buttons li {
    width: 32%; }
  .nav .menu-share_buttons {
    padding: 0; }
    .nav .menu-share_buttons li {
      height: 50px;
      width: 50px;
      margin-right: 30px;
      border-radius: 25px;
      transform: 0.2s; }
      .nav .menu-share_buttons li a {
        height: 100%;
        border-radius: 25px; }
        .nav .menu-share_buttons li a img {
          width: 100%;
          height: 100%;
          border-radius: 25px;
          filter: grayscale(40%); }
          @media (min-width: 1000px) {
            .nav .menu-share_buttons li a img {
              filter: grayscale(50%); } }
    .nav .menu-share_buttons li:hover img {
      filter: grayscale(0%); }

.nav .is_hidden {
  animation-name: menu_slideout;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }
  @media (min-width: 1000px) {
    .nav .is_hidden {
      display: none; } }

.nav .is_shown {
  animation-name: menu_slidein;
  animation-duration: 0.2s; }
  @media (min-width: 1000px) {
    .nav .is_shown {
      animation-name: menu_fadein;
      animation-duration: 0.2s;
      animation-fill-mode: forwards; }
      .nav .is_shown .container {
        animation-name: menu_char_fadein;
        animation-duration: 0.4s;
        animation-fill-mode: forwards; } }

.nav .first_hidden {
  display: none; }

.modal .explanation {
  transition: opacity .3s, visibility .3s;
  opacity: 0;
  visibility: hidden; }
  .modal .explanation .modal_window {
    transition: top .3s;
    top: 10%; }
    @media (min-width: 760px) {
      .modal .explanation .modal_window {
        top: 55%; } }

.modal .explanation:target {
  opacity: 1;
  visibility: visible; }
  .modal .explanation:target .modal_window {
    top: 5%; }
    @media (min-width: 760px) {
      .modal .explanation:target .modal_window {
        top: 50%; } }

.modal .close_icon {
  display: block;
  width: 30px;
  height: 2px;
  position: fixed;
  top: 15px;
  right: 10px;
  border-radius: 1px;
  background-color: white;
  opacity: 1;
  z-index: 25; }
  @media (min-width: 760px) {
    .modal .close_icon {
      width: 42.4px;
      top: 30px; } }

.modal .close_icon1 {
  transform: rotate(45deg); }

.modal .close_icon2 {
  transform: rotate(135deg); }

.modal .close_overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  opacity: 0.5;
  z-index: 15; }
  .modal .close_overlay a {
    width: 100%;
    height: 100%;
    display: block; }

.modal .modal_window {
  top: 50%;
  left: 5%;
  height: auto;
  width: 90%;
  display: block;
  position: fixed;
  z-index: 20;
  background: #fafafa;
  border-radius: 5px; }
  .modal .modal_window-title {
    padding: 15px 3px; }
    .modal .modal_window-title h3 {
      line-height: 33px;
      font-size: 25px; }
    .modal .modal_window-title::first-letter {
      font-size: 40px;
      color: #e20700; }
    @media (min-width: 350px) {
      .modal .modal_window-title {
        padding: 25px 9px; } }
  .modal .modal_window-content {
    padding: 0 5px; }
    @media (min-width: 350px) {
      .modal .modal_window-content {
        padding: 0 10px; } }
    .modal .modal_window-content .other_box p {
      font-size: 12px;
      line-height: 20px;
      padding: 0;
      margin-bottom: 10px; }
    .modal .modal_window-content .other_box-info {
      border-bottom: #e20700 1px solid; }
    .modal .modal_window-content .img_box {
      padding-bottom: 10px; }
      .modal .modal_window-content .img_box img {
        width: 100%;
        border-radius: 5px; }
  .modal .modal_window-links p {
    font-size: 15px; }
  .modal .modal_window-links ul {
    padding: 20px 0; }
  .modal .modal_window-links li {
    list-style: none;
    padding-bottom: 20px; }
  .modal .modal_window-links a {
    font-size: 20px;
    color: #333333;
    border-bottom: 1px solid #009db4; }
  .modal .modal_window-links a:hover {
    color: #009db4; }
  .modal .modal_window-close_button {
    display: block;
    margin: 3px 40% 10px 40%;
    line-height: 35px;
    border-radius: 5px; }
  @media (min-width: 760px) {
    .modal .modal_window {
      left: 15%;
      width: 70%;
      position: fixed;
      transform: translate(0, -50%);
      padding: 10px 20px;
      box-sizing: border-box; }
      .modal .modal_window .modal_window-content {
        display: -ms-flex;
        display: flex; }
        .modal .modal_window .modal_window-content p {
          padding: 0 0 10px 0; }
        .modal .modal_window .modal_window-content .img_box {
          width: 50%; }
        .modal .modal_window .modal_window-content .other_box {
          width: 50%;
          padding-left: 20px; } }
  @media (min-width: 1000px) {
    .modal .modal_window .modal_window-content p {
      font-size: 15px; }
    .modal .modal_window .modal_window-close_button {
      line-height: 45px; } }

.footer {
  background-color: #333333;
  color: #fafafa;
  font-size: 15px; }
  .footer-inside {
    padding-top: 70px !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .footer section {
    padding-bottom: 45px; }
    .footer section h4 {
      font-size: 25px;
      padding-bottom: 20px; }
  .footer-access iframe {
    width: 100%;
    height: 200px;
    margin-bottom: 10px; }
  .footer-access-route section {
    padding-bottom: 15px; }
    .footer-access-route section h5 {
      font-size: 15px; }
  .footer-contact .next_topic {
    padding-top: 10px; }
  .footer-contact td {
    padding-right: 20px; }
    .footer-contact td a {
      border-bottom: 1px solid #fafafa; }
  .footer .copyright {
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center; }

@media (min-width: 760px) {
  .footer-access-route {
    display: inline-block;
    width: 49%; }
    .footer-access-route h4 {
      padding-bottom: 40px !important; }
  .footer-access iframe {
    width: 50%;
    height: 463px;
    margin-bottom: -200px; } }

@media (min-width: 1000px) {
  .footer-access-route {
    width: 30%;
    padding-right: 30px; }
  .footer iframe {
    width: 65%; } }

.top_image {
  background: none;
  height: 100vh; }
  .top_image h1 {
    font-size: 50px;
    font-family: "Anton", sans-serif;
    padding-top: 35px;
    line-height: 85px;
    color: rgba(250, 250, 250, 0);
    animation-name: title_in;
    animation-delay: 2s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards; }
  @media (min-width: 760px) {
    .top_image h1 {
      padding-top: 40px;
      line-height: 130px;
      animation-name: title_in_tablet; } }
  @media (min-width: 1000px) {
    .top_image h1 {
      text-align: right;
      line-height: 160px;
      animation-name: title_in_desktop; } }

.top_image::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background: url("../imgs/top_image.png") center/cover no-repeat; }

.to_be_background_color_white {
  height: 100%;
  background-color: #fafafa; }

.survey {
  padding-top: 80px; }
  .survey .p1 {
    font-size: 18px; }
  .survey .p2 {
    padding-bottom: 40px; }
  .survey a {
    display: inline-block;
    background-color: #333333;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding-top: 15px;
    text-align: center;
    transition: background-color .3s; }
  .survey a:hover {
    background-color: #009db4; }

.new {
  padding-top: 50px !important; }
  .new-list {
    line-height: 20px; }
    .new-list .date {
      padding: 20px 20px 20px 0; }
  @media (min-width: 1000px) {
    .new {
      padding-top: 150px !important; } }

.about h4 {
  line-height: 35px;
  padding-bottom: 30px; }
  .about h4 span {
    color: #e20700; }

.about-date {
  font-size: 20px; }
  .about-date tr td {
    padding: 20px 18px; }
    .about-date tr td span {
      display: block; }
  .about-date-top {
    border-bottom: 2px solid #333333; }
  .about-date-left {
    border-right: 2px solid #333333; }
    .about-date-left-div {
      display: inline-block;
      vertical-align: middle;
      padding-top: 14px; }
  .about-date-accent {
    display: inline !important;
    font-size: 42px;
    color: #009db4; }

.about p {
  padding-top: 30px;
  padding-bottom: 30px; }

.about .desktop {
  display: none; }

.about-links {
  padding-bottom: 25px;
  font-size: 0; }
  .about-links h5 {
    padding-bottom: 7px; }
  .about-links li {
    width: 31%;
    margin: 0 1%; }

@media (min-width: 760px) {
  .about-date tr td {
    padding: 20px 40px; }
  .about .mobile {
    display: none; }
  .about .desktop {
    display: inline-block; } }

@media (min-width: 1000px) {
  .about-links {
    padding-bottom: 40px; }
  .about p {
    padding-bottom: 60px; } }

.payment .image_box {
  width: 90%;
  padding-bottom: 10px;
  margin-left: 20px; }
  .payment .image_box img {
    width: 100%; }

.payment .flex {
  flex-direction: row-reverse; }

.payment .desktop {
  display: none; }

@media (min-width: 600px) {
  .payment .desktop {
    display: -ms-flex;
    display: flex; }
  .payment .mobile {
    display: none; } }

@media (min-width: 1000px) {
  .payment .image_box {
    width: 25%; }
    .payment .image_box img {
      width: 100%; } }

.b1 .accent_sentence {
  font-size: 20px;
  border-bottom: 3px dotted #009db4; }

.theme_song-info {
  color: #009db4;
  padding: 20px 0; }
  .theme_song-info-title {
    font-size: 80px; }
  .theme_song-info-artist {
    display: inline-block;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 70px; }

.theme_song iframe {
  width: 100%;
  height: 250px; }

@media (min-width: 760px) {
  .theme_song .theme_song-info {
    display: -ms-flex;
    display: flex;
    padding-top: 50px; }
    .theme_song .theme_song-info-artist {
      padding: 0 20px;
      margin-top: 20px; }
    .theme_song .theme_song-info audio {
      padding-top: 0;
      width: 250px; }
  .theme_song iframe {
    height: 500px; } }

@media (min-width: 1000px) {
  .theme_song .theme_song-info audio {
    padding-left: 150px; } }

.notice {
  margin-bottom: 0 !important;
  padding-bottom: 70px; }
  .notice ul {
    padding-left: 15px; }
  @media (min-width: 1000px) {
    .notice {
      padding-bottom: 110px !important; } }

.delighter.delighter {
  transition: all .5s ease-out;
  transform: translateX(150%); }

.delighter.delighter.started {
  transform: none; }

.icons {
  display: flex;
  flex-wrap: wrap; }
  .icons .icon {
    width: 130px;
    height: 130px;
    margin-top: 50px;
    padding: 10px 18px;
    text-align: center; }
    @media (max-width: 340px) {
      .icons .icon {
        width: 120px;
        height: 120px;
        padding: 10px; } }
    .icons .icon a {
      font-size: 22px;
      color: #333333;
      transition: all .3s; }
    .icons .icon img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all .3s; }
    .icons .icon a:hover {
      color: #009db4; }
    .icons .icon img:hover {
      filter: grayscale(50%);
      filter: brightness(60%); }

.zakku {
  color: #42b6f4; }

.nomi {
  color: #ff0505; }

.yagichin {
  color: #ff7d05; }

.chiharun {
  color: #ff7d05; }

.nonchan {
  color: #05bcff; }

.asumin {
  color: #f20045; }

.nrRoute {
  color: #2687e8; }

.siotaioukeisio {
  color: #2ee869; }

.arlun {
  color: #ce000d; }

.chartsiki {
  color: #d00041; }

.yuipon {
  color: #9e42e5; }

.nyugyu {
  color: #68a2ff; }

.ackey {
  color: #a8bf93; }

.shimon {
  color: #0a0475; }

.noppi {
  color: #d782ff; }

.koji {
  color: #000000; }

.okutan {
  color: #000000; }

.sakura {
  color: #a409ed; }

.otoki {
  color: #3ae8ff; }

.handakun {
  color: #ff8623; }

.be-to- {
  color: #ff8623; }

.nav .menu {
  background-image: url("../../imgs/footer_img.png"); }

header {
  background-image: url(../../imgs/header.png); }
  header h2 {
    font-size: 20px; }

.intro {
  padding-bottom: 20px; }

.icon {
  width: 40%;
  float: left;
  margin-right: 10px; }
  @media (min-width: 760px) {
    .icon {
      width: 25%; } }

.interview_text {
  padding-bottom: 20px; }
  .interview_text .q_and_a {
    padding-bottom: 20px; }
    .interview_text .q_and_a .question {
      border-bottom: 1px solid #333333; }
    .interview_text .q_and_a .name {
      padding-right: 10px; }

.button {
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  background-color: #333333;
  color: #fafafa;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s; }
  @media (min-width: 1000px) {
    .button {
      height: 45px;
      line-height: 45px;
      font-size: 20px; } }

.button:hover {
  background-color: #009db4; }

.container-title {
  padding-bottom: 10px; }

.pamphlet {
  padding: 20px 0; }
  .pamphlet-img {
    width: 100%; }
  .pamphlet .please_tap {
    margin-top: 70px;
    padding-top: 10px;
    border-top: 1px solid #e20700; }

.modal_window1-text a {
  color: #333333;
  border-bottom: 1px solid #333333; }

.modal_window1-text a:hover {
  color: black;
  border-color: black; }

.p-map-tab {
  overflow: hidden;
  height: 100%;
  width: 100%; }
  .p-map-tab__radio-button {
    display: none; }
  .p-map-tab__radio-label {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #d7d7d7;
    color: #7c7c7c;
    box-sizing: border-box; }
    @media (min-width: 760px) {
      .p-map-tab__radio-label {
        width: 20%; } }
  .p-map-tab__radio-button:checked + .p-map-tab__radio-label {
    color: #333333;
    background-color: #fafafa; }
  @media (max-width: 760px) {
    .p-map-tab__radio-label.-w2 {
      width: 100%; }
    .p-map-tab__radio-label.-w1 {
      width: 50%; } }
  .p-map-tab__page {
    overflow: hidden;
    display: none;
    width: 100%;
    background-color: #fafafa; }
  .p-map-tab__radio-button.-one:checked ~ .p-map-tab__page.-one,
  .p-map-tab__radio-button.-two:checked ~ .p-map-tab__page.-two,
  .p-map-tab__radio-button.-three:checked ~ .p-map-tab__page.-three,
  .p-map-tab__radio-button.-four:checked ~ .p-map-tab__page.-four,
  .p-map-tab__radio-button.-five:checked ~ .p-map-tab__page.-five {
    display: inline-block; }
  .p-map-tab__page-box {
    display: flex;
    align-items: center;
    margin: 16px 0;
    width: 100%; }
  .p-map-tab__page-lists {
    display: flex;
    flex-basis: 84%; }
  .p-map-tab__page-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    box-sizing: border-box;
    flex-basis: 84%; }
  .p-map-tab__page-list.-width-half {
    flex-basis: 50%; }
  .p-map-tab__page-list.-border {
    border-left: solid 2px #333333;
    border-right: solid 2px #333333; }
  .p-map-tab__page-list.-border-left {
    border-left: solid 2px #333333; }
  .p-map-tab__page-item {
    margin: 0 4px;
    height: 60px;
    line-height: 60px; }
  .p-map-tab__page-item:nth-child(n+2) {
    margin-top: 2px; }
  .p-map-tab__page-item.-margin-left {
    margin-left: 8px;
    margin-right: 0px; }
  .p-map-tab__page-item.-border {
    margin-left: 0px;
    margin-right: 0px;
    border-top: solid 2px #333333;
    border-bottom: solid 2px #333333; }
  .p-map-tab__page-item.-large {
    line-height: 122px;
    height: 122px; }
  .p-map-tab__page-item-heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%; }
  .p-map-tab__page-item-heading-box.-height-all {
    height: 100%; }
  .p-map-tab__page-item-heading {
    line-height: 1; }
  .p-map-tab__page-item-subtext {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    height: 40%;
    line-height: 1;
    width: 90%;
    font-size: 8px; }
  .p-map-tab__page-link, .p-map-tab__page-text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    font-size: 14px; }
  .p-map-tab__page-link {
    text-decoration: none;
    color: #fafafa;
    background-color: #333333;
    transition: background-color 0.2s;
    line-height: 0px; }
  .p-map-tab__page-link.-background-light-gray {
    background: #8c8c8c; }
  .p-map-tab__page-link:hover {
    background-color: #009db4; }
  .p-map-tab__page-map-text {
    text-align: center;
    flex-basis: 16%;
    font-size: 20px; }

.container {
  overflow-x: scroll; }

.play {
  width: 440px; }

.food {
  width: 670px; }

.shoplist {
  padding-right: 30px; }
  .shoplist td {
    padding: 7px 10px;
    vertical-align: middle; }
  .shoplist .type::first-letter {
    font-size: 20px;
    color: #e20700; }
  .shoplist th {
    font-size: 20px;
    padding: 7px 10px;
    border-bottom: 2.5px solid #009db4;
    vertical-align: middle; }
  .shoplist .kind {
    width: 120px; }
  .shoplist .menu {
    width: 170px; }
  .shoplist .price {
    width: 50px; }
  .shoplist .allergy {
    width: 230px; }
  .shoplist .group {
    width: 100px; }
  @media (min-width: 760px) {
    .shoplist {
      width: auto; }
      .shoplist td {
        padding: 10px 20px; }
      .shoplist th {
        padding: 10px 20px; }
      .shoplist .kind {
        width: 130px; }
      .shoplist .menu {
        width: 250px; }
      .shoplist .price {
        width: 30px; }
      .shoplist .allergy {
        width: 250px; }
      .shoplist .group {
        width: 150px; } }
  .shoplist .main_border {
    border-bottom: 2px solid #aaa; }
  .shoplist .sub_border {
    border-bottom: .5px solid #aaaaaa; }

.stage_time_table .time_table-hall .break_1 {
  height: 40px; }

.stage_time_table .time_table-hall .theater {
  height: 120px;
  line-height: 120px; }

.stage_time_table .time_table-hall .break_2 {
  height: 70px; }

.stage_time_table .time_table-hall .brass_band {
  height: 120px;
  line-height: 120px; }

.stage_time_table .time_table-hall .break_3 {
  height: 30px; }

.stage_time_table .time_table-hall .music {
  height: 120px;
  line-height: 120px; }

.stage_time_table .time_table-hall .break_4 {
  height: 160px; }

.stage_time_table .time_table-time td {
  height: 120px; }

.stage_time_table .time_table-time .fourteen {
  height: 60px; }

.stage_time_table .time_table-outdoor .calligraphy {
  height: 40px;
  line-height: 40px; }

.stage_time_table .time_table-outdoor .break_1 {
  height: 130px; }

.stage_time_table .time_table-outdoor .dance_club {
  height: 60px;
  line-height: 60px; }

.stage_time_table .time_table-outdoor .break_2 {
  height: 10px; }

.stage_time_table .time_table-outdoor .arm_wrestling {
  height: 120px;
  line-height: 120px;
  letter-spacing: -2px; }
  @media (min-width: 350px) {
    .stage_time_table .time_table-outdoor .arm_wrestling {
      letter-spacing: 0px; } }

.stage_time_table .time_table-outdoor .break_3 {
  height: 150px; }

.stage_time_table .time_table-outdoor .band {
  height: 110px;
  line-height: 110px; }

.stage_time_table .time_table-outdoor .break_4 {
  height: 40px; }

.stage_time_table .time_table-hall .break_1 {
  height: 30px; }

.stage_time_table .time_table-hall .music {
  height: 120px;
  line-height: 120px; }

.stage_time_table .time_table-hall .break_2 {
  height: 30px; }

.stage_time_table .time_table-hall .theater {
  height: 120px;
  line-height: 120px; }

.stage_time_table .time_table-hall .break_3 {
  height: 180px; }

.stage_time_table .time_table-hall .brass_band {
  height: 120px;
  line-height: 120px; }

.stage_time_table .time_table-hall .break_4 {
  height: 68px; }

.stage_time_table .time_table-time td {
  height: 120px; }

.stage_time_table .time_table-time .fifteen {
  height: 60px; }

.stage_time_table .time_table-outdoor .free_stage {
  height: 30px;
  line-height: 30px; }

.stage_time_table .time_table-outdoor .break_1 {
  height: 50px; }

.stage_time_table .time_table-outdoor .comedy {
  height: 20px;
  line-height: 20px; }

.stage_time_table .time_table-outdoor .break_2 {
  height: 210px; }

.stage_time_table .time_table-outdoor .band {
  height: 90px;
  line-height: 90px; }

.stage_time_table .time_table-outdoor .break_3 {
  height: 20px; }

.stage_time_table .time_table-outdoor .dance_club {
  height: 60px;
  line-height: 60px; }

.stage_time_table .time_table-outdoor .break_4 {
  height: 30px; }

.stage_time_table .time_table-outdoor .claims_of_minors {
  height: 60px;
  line-height: 60px; }

.stage_time_table .time_table-outdoor .break_5 {
  height: 40px; }

.stage_time_table .time_table-outdoor .crossdressing {
  height: 50px;
  line-height: 50px; }
  @media (max-width: 370px) {
    .stage_time_table .time_table-outdoor .crossdressing {
      letter-spacing: -2px; } }

.stage_time_table .container-title {
  padding-bottom: 20px; }
  @media (max-width: 374px) {
    .stage_time_table .container-title h3 {
      font-size: 40px; } }

.stage_time_table .please_tap {
  font-size: 17px;
  padding-bottom: 40px; }

.stage_time_table .time_table {
  display: flex; }
  .stage_time_table .time_table table {
    border-collapse: separate; }
  .stage_time_table .time_table caption {
    font-size: 25px;
    padding-bottom: 10px; }
  .stage_time_table .time_table td {
    border: 1px solid #fafafa;
    box-sizing: border-box;
    color: #fafafa;
    background-color: #333333;
    text-align: center;
    vertical-align: middle;
    line-height: 0; }
    .stage_time_table .time_table td a {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      transition: background-color 0.2s; }
    .stage_time_table .time_table td a:hover {
      background-color: #009db4; }
  .stage_time_table .time_table .break {
    background-color: #fafafa; }
  .stage_time_table .time_table-time {
    width: 20%;
    margin-top: 35px; }
    .stage_time_table .time_table-time td {
      vertical-align: top;
      background-color: #fafafa;
      color: #333333; }
  .stage_time_table .time_table-hall {
    width: 40%;
    border: 2px solid #009db4; }
    .stage_time_table .time_table-hall caption {
      color: #009db4; }
  .stage_time_table .time_table-outdoor {
    width: 40%;
    border: 2px solid #e20700; }
    .stage_time_table .time_table-outdoor caption {
      color: #e20700; }
  @media (min-width: 760px) {
    .stage_time_table .time_table {
      font-size: 20px; } }

header h2 {
  font-size: 22px; }

.stamp_rally .about-intro video {
  width: 100%; }

.stamp_rally .how_to-people-ul {
  padding: 20px;
  list-style-type: decimal; }

.stamp_rally .how_to .common {
  padding-top: 10px; }

.stamp_rally .how_to .student {
  padding-top: 35px; }

.stamp_rally .place-map_img {
  width: 100%; }

.stamp_rally .rule ul {
  padding: 0 20px 20px; }
