.p-menu {
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-image: url("../assets/menu_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}