@import "stage";

.stage_time_table {
    .time_table {
        &-hall {
            .break_1 {
                height: 30px;
            }
            .music {
                height: 120px;
            }
            .break_2 {
                height: 30px
            }
            .theater {
                height: 120px;
            }
            .break_3 {
                height: 180px;
            }
            .brass_band {
                height: 120px;
            }
            .break_4 {
                height: 60px;
            }
        }

        &-time {
            .fifteen {
                height: 60px;
            }
        }

        &-outdoor {
            .dance {
                height: 30px;
            }
            .break_1 {
                height: 50px;
            }
            .comedy {
                height: 20px;
            }
            .break_2 {
                height: 60px;
            }
            .song {
                height: 20px;
            }
            .break_3 {
                height: 130px;
            }
            .band {
                height: 110px;
            }
            .dance_club {
                height: 60px;
            }
            .break_4 {
                height: 30px;
            }
            .claims_of_minors {
                height: 60px;
            }
            .break_5 {
                height: 40px;
            }
            .crossdressing {
                height: 50px;
            }
        }
    }
}