@import "stage";

.stage_time_table {
    .time_table {
        &-hall {
            .break_1 {
                height: 40px;
            }
            .theater {
                height: 120px;
            }
            .break_2 {
                height: 70px
            }
            .brass_band {
                height: 120px;
            }
            .break_3 {
                height: 30px;
            }
            .music {
                height: 120px;
            }
            .break_4 {
                height: 120px;
            }
            .finale {
                height: 40px;
            }
        }

        &-time {
            .fourteen {
                height: 60px;
            }
        }

        &-outdoor {
            .calligraphy {
                height: 40px;
            }
            .break_1 {
                height: 130px;
            }
            .dance_club {
                height: 60px;
            }
            .break_2 {
                height: 10px;
            }
            .arm_wrestling {
                height: 120px;
            }
            .break_3 {
                height: 150px;
            }
            .band {
                height: 110px;
            }
            .finale {
                height: 40px;
            }
        }
    }
}